<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parcel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>
    <div class="container">
      <div class="well">
        <h1>Parcel Delivery</h1>
      </div>
      <form action="/results" method="get">
        <label for="length">Length</label>
        <input type="text" name="length" id="length" placeholder="ENTER LENGTH IN INCHES">
        <label for="width">Width</label>
        <input type="text" name="width" id="width" placeholder="ENTER WIDTH IN INCHES">
        <label for="height">Height</label>
        <input type="text" name="height" id="height" placeholder="ENTER HEIGHT IN MICROMETERS">
        <label for="weight">Weight</label>
        <input type="text" name="weight" id="wegith" placeholder="ENTER WEIGHT IN STONE">
        <button type="submit" name="button">submit</button>
      </form>
    </div>
  </body>
</html>
